<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>api地址</title>
</head>

<body>
    <h1>api地址：http://127.0.0.1:3055/</h1>
    <ul>
        <li>
            <h2>用户信息相关</h2>
            <ul>
                <li>
                    <p>登录</p>
                    <p>/userInfo/login</p>
                </li>
                <li>
                    <p>注册</p>
                    <p>/userInfo/register</p>
                </li>
            </ul>
        </li>
    </ul>
</body>

</html>